@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<section class="contact">
    <header>
        <h3>Please email/tweet any feedback or suggestions:</h3>
    </header>
    <p>
        <span><a href="mailto:info@paymentsdeveloper.com">info@paymentsdeveloper.com</a></span>
    </p>
    <p>
        <span><a href="https://twitter.com/intent/tweet?screen_name=PaymentsDev" class="twitter-mention-button" data-related="PaymentsDev">Tweet to PaymentsDev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
    </p>
</section>
