@{
    ViewBag.Title = "Payments Developer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This site contains sample integrations with payment gateways, allowing you to view the code side-by-side with the sample apps.

            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Select a Payments Provider you're interested in.</h5>
        We'll be updating this list regularly but feel free to contact us with suggestions.
    </li>

    <li class="two">
        <h5>Navigate through the sample payment pipeline and evaluate the coding involved with each step.</h5>
        Look out for tips & tricks callouts.
    </li>

    <li class="three">
        <h5>Repeat until you think you've found "the one".</h5>
        Be sure to check out the Payments Developer blog for a broader comparison of the payment gateways featured here:
        <a href="http://www.paymentsdeveloper.com">www.paymentsdeveloper.com</a>
    </li>
</ol>
